footer {
  width: 100%;
  background-color: #474747;
  color: #fff;
  text-align: center;
  font-size: 1em;
  line-height: 30px;
  padding: 5px 20px;
  margin-top: 50px;
}
footer a,
footer a:visited,
footer a:active,
footer a:focus {
  color: var(--alt-text-color);
  text-decoration: underline;
  font-weight: bold;
}
