#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  --text-color: #000;
  --main-color: #f56b2a;
  --main-color-hover: #c0562a;
  --secondary-color: #4183d7;
  --secondary-color-hover: #369;
  --alt-text-color: #fff;
  background-color: #fafafa;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}
div.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
div.container > main {
  width: 70%;
  margin-right: 20px;
  padding: 0;
}
div.container > aside {
  width: calc(30% - 20px);
}
main {
  z-index: 1;
  padding: 5px 20px;
}
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px 40px;
  line-height: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* text */
a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: var(--text-color);
}
h1 {
  width: 100%;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5em;
  border-bottom: 3px solid var(--main-color);
  text-align: center;
}
/* buttons */
a.action,
.action {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 30px 0 20px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  text-align: center;
  color: var(--alt-text-color);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}
.action:hover {
  background-color: var(--secondary-color-hover);
}
.action.reverse {
  background-color: #fff;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.action.reverse:hover {
  color: var(--secondary-color-hover);
  border: 1px solid var(--secondary-color-hover);
}
/* forms */
label {
  width: 100%;
  margin: 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
label.checkbox {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  line-height: 1.5em;
  font-size: 0.8em;
}
label.checkbox input {
  position: absolute;
  left: 0;
}
label.checkbox strong {
  color: var(--secondary-color);
}
input,
select {
  width: 100%;
  padding: 0 10px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  height: 40px;
  background-color: #f4f6f7;
  font-size: 1em;
  line-height: 40px;
  color: #8191a0;
  border: none;
}
span.error {
  display: block;
  color: red;
}
