header {
  position: relative;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  height: 60px;
  margin: 0 auto;
  padding: 5px 20px;
}
nav {
  display: flex;
}
nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  border: none;
  font-size: 1em;
}
nav a.publish {
  padding: 6px 10px;
  background-color: var(--main-color);
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.1s ease-in-out;
}
nav a.publish:hover {
  background-color: var(--main-color-hover);
}
nav a.offers {
  position: relative;
  background-color: transparent;
}

nav a svg {
  margin-right: 10px;
}
a.connect,
button.connect {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1em;
  color: #000;
  background-color: transparent;
}
a.connect:after,
button.connect:after,
nav a:last-child:after {
  border-bottom: 3px solid var(--main-color);
  bottom: -13px;
  content: '';
  display: block;
  left: 50%;
  opacity: 0;
  position: absolute;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
}
a.connect:hover:after,
button.connect:hover:after,
nav a:last-child:hover:after {
  opacity: 1;
  transition-property: width, opacity;
  transition: 0.3s ease-out;
  width: 100%;
}
a.connect.active:after,
button.connect.active:after,
nav a:last-child.active:after {
  opacity: 1;
  width: 100%;
}
header.isSearch:before {
  position: absolute;
  z-index: -2;
  content: '';
  width: 100%;
  height: 400%;
  background-color: var(--main-color);
  border-radius: 40%;
  top: -90%;
}
header.isSearch:after {
  position: absolute;
  z-index: -1;
  top: 0;
  content: '';
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.navToggle {
  display: none;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
}
