.container.pagination {
  display: block;
  text-align: center;
}
.pagination .prev {
  float: left;
}
.pagination .next {
  float: right;
}
.action {
  display: inline-block;
  width: auto;
  border: none;
  padding: 0 10px;
}
