.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 810px;
  height: 130px;
  margin: 0 auto 40px;
}
.search form .mainSearch {
  display: flex;
  justify-content: stretch;
  width: 100%;
}
.search form .mainSearch input[type='text'] {
  margin-right: 20px;
}
.search form .mainSearch input.action {
  width: 50%;
  margin: 0;
}
.search form .filters {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.search form .filters input {
  width: 20%;
  margin: 0 6px;
}
.search form .filters .sort {
  width: 32%;
}
