.signupContainer {
  flex-direction: row;
}
.signupContainer div {
  flex: 3 1;
}
.signupContainer form {
  flex: 2 1;
  display: flex;
  flex-direction: column;
}
.signupContainer div span {
  display: block;
  font-weight: 500;
}

.loginContainter {
  position: relative;
  max-width: 715px;
  padding: 20px 75px;
}
.loginContainter div {
  width: 100%;
}
.loginContainter > div.connectForm:after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  border-bottom: 1px solid #e4e8ec;
}
.loginContainter div.noAccount {
  text-align: center;
  padding-top: 20px;
}
