header {
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  height: 60px;
  margin: 0 auto;
}
nav {
  display: flex;
}
nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  border: none;
  font-size: 1em;
}
nav button:first-of-type {
  background-color: #f56b2a;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.1s ease-in-out;
}
nav button:first-of-type:hover {
  background-color: #c0562a;
}
nav button:last-of-type {
  position: relative;
  background-color: transparent;
}
nav button:last-of-type:after {
  border-bottom: 3px solid #ff6e14;
  bottom: -14px;
  content: "";
  display: block;
  left: 50%;
  opacity: 0;
  position: absolute;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
}
nav button:last-of-type:hover:after {
  opacity: 1;
  transition-property: width, opacity;
  transition: 0.3s ease-out;
  width: 100%;
}
nav button svg {
  margin-right: 10px;
}
button.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1em;
}
